#js-icon{
    background-image: url("/media/svg/SVG/js.svg");
    background-size: cover;
    background-position: center;
}

#react-icon {
    background-image: url("/media/svg/SVG/react.svg");
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
 
}

#html-icon {
    background-image: url("/media/svg/SVG/html.svg");
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
 
}

#node-icon {
    background-image: url("/media/svg/SVG/node.svg");
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
 
}

#mysql-icon {
    background-image: url("/media/svg/SVG/mtsql.svg");
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
 
}

#mongo-icon {
    background-image: url("/media/mongo.svg");
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
 
}

#docker-icon {
    background-image: url("/media/svg/SVG/docker.svg");
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
 
}

#ubuntu-icon {
    background-image: url("/media/ubuntu.png");
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
 
}

#arch-icon {
    background-image: url("/media/arch.png");
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
 
}