:root {
    --black: #000000;
    --darkb1: #040508;
    --darkb2: #1a2444;
    --darkb3: #162955;

    --white: #ffffff;
    --lightb1: rgb(176, 208, 235);
    --lightb2: rgb(125, 161, 214);

    --yellow1: #ffd28a; 
    --yellow2: #fecf4e; 
    --yellow3: #ffd321; 

    --orange1: #ffa05c; 
    --orange2: #ff992d; 
    --orange3: #ff8800; 
}

*{
    font-size: 30px;
}

a{
    text-decoration: none;
    color: var(--darkb3);
    font-size: 16px;
}

p{
    margin: 0;
}

ul{
    margin: 0px;
    padding: 0;
}

main{
    justify-self: center;
 
   
}

footer{
    height:40px;
}

html{
    scroll-snap-type: y mandatory;
    
}
h1{
    color: rgb(219, 248, 254);
    margin: 0px;
    text-shadow: -4px -4px 0 #000, 1px -4px 0 #000, -1px 1px 0 #000, 4px 1px 0 #000;
    font-family: "Concert One", sans-serif;
    font-size: 100px;
}
h3{
    color: rgb(219, 248, 254);
      margin: 0px;
        text-shadow: -4px -4px 0 #000, 1px -4px 0 #000, -1px 1px 0 #000, 4px 1px 0 #000;
    font-family: "Concert One", sans-serif;
    font-size: 70px;
}

body {
    transition:all .2s;
    position: relative;
    margin: 0px;
    background-color: var(--white);
    
    height: 100vh;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:18px;
    background-color: #e5f7ff;
}

#background-img{
    position: absolute;
    width: 100%;
    filter: brightness(50%)
    
}
li{
    width: 100%;
    list-style: none;
    color: var(--darkb3);
    font-size: 16px;
}

#nav-list {
    display: flex;
    align-items: center;
    
}

.cursor-area{
    width:60px;
    height:60px;
}

.selected {
    padding: 10px;
    background-color: var(--white);
    border-radius: 10px;
}
#nav{
    z-index: 4;
    height:50px;
    background-color: hsl(0, 0%, 100%);
    outline: solid var(--darkb2) 2px;
    position: sticky;
    top: 0px;
    border-radius: 0px 0px 10px 10px;

    display: flex;
    align-items: center;
}

section{
    z-index: 3;
/* 
    scroll-snap-align: start;
    scroll-behavior: smooth; */
}

#section-main{
    margin-top: 30px;
}
p{
    text-indent: 30px;
    line-height:1.5;
    font-size: 30px;
}
main{
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
}

.grid-item{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    justify-self: center;
}

#grid{
    
    opacity: 0;
    margin-top:30px;
    width: 500px;
    transition:all .2s ease-out;
    display: grid;
    gap: 30px;
    border-radius: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding:20px;
}

 #nav-grid{
    transition: all .2s ease-out;
    position: relative;
    z-index: 5;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 170px);
    grid-template-rows:200px;
    gap:30px;
    align-items: center;
}

.nav-grid-small{
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: 90px;
}

.nav-grid-icon{
    transition: all .2s ease-out;
    width: 150px;
    height: 150px;
    border-radius: 15px;
     justify-self: center;
     padding:5px;
}
.nav-grid-icon:hover{
    width:170px;
    height: 170px;
}

.nav-grid-icon-small{
    width:130px;
    height:130px;
}

.nav-grid-icon-small:hover{
    width:140px;
    height:140px;
}

.button-unstyled{
    cursor: pointer;
    background-color: hwb(0 0% 100% / 0);
    border: none;
}