
.mask{
    display: none;
    mask-image: radial-gradient(circle 80px at var(--x, 0) var(--y, 0), white 100%, transparent 100%);   
}

#hover-to-reveal{
    opacity: 0;
    padding:0;
    margin:0;
}

#about-me p{
    display: flex;
    width: 600px;
    
}

#about-me-slide{
    width: 500px;
    transition: all .5s;
    opacity: 0;
    background-color: aliceblue;
    outline: solid gray 3px;
    border-radius: 15px;
    padding:20px;
}
#blog-latest{
    width:500px;
    overflow: scroll;
    height:500px;
    opacity: 0;
    padding:20px;
    background-color: aliceblue;
    outline: solid gray 3px;
    border-radius: 15px;
    
}

#contact-form > input, textarea{
    display: block;
    border-radius: 10px;
}

#section-slides{
    margin-top:20px;
    display: flex;
    justify-content: center;
    width: 100%;
    height:500px;
    z-index: 2;
}

.slide{
    width: auto;
    transition: all .5s;
    position: absolute;

}

#skillset-title{
    margin-left:40px;
    margin-top: 20px;
}

#skillset-slide{
    padding:10px;
    border-radius: 15px;
    background-color: #ecf9ffcf;
    outline:solid gray 3px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    transition: all .5s;
}
#skillset-icon{
    display: flex;
    align-items: center;
}

#backdrop{
    z-index: 1;
    position: absolute;
    margin-top: 30px;
    width:100%;
    height:1000px;
    /* background-image: url('../../media/field.jpg') */;
    background-color: rgb(166, 173, 238);
    background-size: cover;
    opacity: .8;
}

#contact-slide{
    opacity: 0;
}