
.mask{
    display: none;
    mask-image: radial-gradient(circle 80px at var(--x, 0) var(--y, 0), white 100%, transparent 100%);   
}

#hover-to-reveal{
    opacity: 0;
    padding:0;
    margin:0;
}

#about-me p{
    display: flex;
    font-size: 30px;
    width: 600px;
}


.section-main-small{
    height:150px;
}

#about-me-slide{
    width: 700px;
    transition: all .2s;
    opacity: 0;
    border-radius: 15px;

}
#blog-latest{
    display: flex;

    overflow: scroll;
    height:500px;
    width:650px;
    opacity: 1;
    border-radius: 15px;
    
}

#contact-form > input, textarea{
    display: block;
    border-radius: 10px;
}

#section-slides{
    
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
}

.slide{
    
    width: auto;
    transition: all .2s;
    position: absolute;
    padding:20px;
    background-color: aliceblue;
    outline: solid gray 3px;

}
#contact-submit-button{
        font-size:20px;
        width:100px;
        height:50px;
        background-color: rgb(255, 255, 255);
    }
#skillset-title{
    margin-left:40px;
    
}

#skillset-slide{
    padding:10px;
    border-radius: 15px;
    background-color: #ecf9ffcf;
    outline:solid gray 3px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    transition: all .2s;
}
#skillset-icon{
    display: flex;
    align-items: center;
}

#backdrop{
    z-index: 1;
    position: absolute;
   
    width:100%;
    height:600px;
    /* background-image: url('../../media/field.jpg') */;
    background-color: rgb(110, 124, 255);
    background-size: cover;
    opacity: .8;
}

#contact-slide{
    opacity: 0;
    border-radius: 15px;
}

#contact-form{
    height:400px;
}

#contact-submit-button{
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}

#blog-latest{
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: all .2s ease-out;
}

#blog-entries-aside{
    display: flex;
    flex-direction: column;
    height: 20px;
    z-index: 9;
    padding:5px;
    width:200px;
    
    border-radius: 10px;
    
}

#entries-title{
    text-indent: 0px;
}

#blog-archive-list{

    border-radius: 10px;
    background-color: rgb(255, 177, 93);
    color: rgb(71, 44, 29);
}

.entry-year{

    cursor:pointer;
}

.entry-year > a {
    background-color: rgba(216, 216, 216, 0);

    padding:10px;
    display: flex;
    justify-content: space-between;
}

.entry-month{
    background-color: rgb(255, 207, 125);
    color: rgb(71, 44, 29);
    padding: 10px 0px 10px 0px;
}

.entry-month > a{
    margin:10px;
    width:50px;
}

.blog-sublist{
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
}
/* .entry-year:hover .blog-sublist{
    max-height: 1000px;
    transition: max-height .4s ease-in;
} */

.blog-sublist-toggle{
    max-height: 1000px;
    transition: max-height .4s ease-in;
}
@media (max-width: 1000px){
    #blog-latest{
        width: 550px;
    }
    #nav-grid{
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: 150px 150px;
        gap:10px;

    }
    #grid{
        width:400px;
        gap: 10px;
        padding:10px;
    }
    .grid-item{
        width:100px;
        height:100px;
    }
    #skillset-slide{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #skillset-title{
        margin:0;
    }
}


@media (max-width: 700px) {
    h1{
        font-size: 80px;
    }
    #section-slides{
        margin-top:50px;
    }
    #about-me-slide{
        width: 420px;
    }
    #blog-entries-aside{
        display: none;
        position: absolute;
        width: 100%;
        margin: 0px;
        
    }
    #nav-grid{
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: 150px 150px;
        gap:10px;

    }
    #entries-title{
        display: none;
    }
    #blog-latest{

        width:400px;
        margin: 0px;
    }
    .nav-grid-icon-small{
        width:150px;
        height:150px;
    }

   
}
@media (max-width: 450px) {
    h3{
        font-size:45px;
    }
    h1{
        font-size:50px;
    }
    #nav-grid{
        grid-template-columns: repeat(2, 140px);
        grid-template-rows: 120px 120px;
        gap:10px;

    }
    .nav-grid-icon{
        width:120px;
        height:120px;
    }

    #email-input{
        width:230px;
    }

    #contact-submit-button{
        font-size:15px;
        width:80px;
        height:40px;
    }
    
    #about-me-slide{
        width: 380px;
    }
    #grid{
        width:250px;
        gap: 10px;
        padding:10px;
    }
    .grid-item{
        width:60px;
        height:60px;
    }
    #skillset-slide{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #skillset-title{
        margin:0;
    }
    #text-input{
        width: 230px;
    }
    .section-main-small{
        height:100px;
    }
    #blog-latest{
        width:270px;
    }
    p{
        font-size: 18px;
    }
    #about-me-slide{
        width: 320px;
    }

}

@media (max-width: 350px){
    label{
        font-size:22px;
    }
    h3{
        text-align: center;
    }
    .slide{
       
        padding:10px;
    }
    #nav-grid{
        width:300px;
    }
    #about-me-slide{
        width:260px;
    }
    #skillset-slide{
        width:270px;
        padding: 5px;
    }
}